<%= content_for :title, "Webhook Endpoints" %>
<%= turbo_stream_from :webhook_endpoints %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Webhook Endpoints</h1>
    </div>

    <%= link_to t("shared.scaffold.new.title", model: "Webhook Endpoint"), new_webhook_endpoint_path, class: "btn btn-white" %>
  </div>

  <%= tag.div id: ("webhook_endpoints" if first_page?), class: "bg-white rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "webhook_endpoints/index", collection: @webhook_endpoints, as: :webhook_endpoint, cached: true %>

    <div class="hidden only:flex flex-col items-center justify-between lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="mb-4 h3">Create your first Webhook Endpoint</p>
        <%= link_to t("shared.scaffold.new.title", model: "Webhook Endpoint"), new_webhook_endpoint_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>