<%= content_for :title, "Webhook Endpoints ##{@webhook_endpoint.id}" %>
<%= turbo_stream_from @webhook_endpoint %>

<div class="container px-4 mx-auto my-8" data-controller="webhook-endpoint">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Webhook Endpoints", webhook_endpoints_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Webhook Endpoint #<%= @webhook_endpoint.id %>
    </h1>
    <%= link_to t("edit"), edit_webhook_endpoint_path(@webhook_endpoint), class: "btn btn-white" %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render @webhook_endpoint %>
  </div>
</div>
