<%= form_with(model: order) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :account_id %>
    <%= form.number_field :account_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address_id %>
    <%= form.text_field :address_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :transaction_status %>
    <%= form.select(:transaction_status, Order::STATUS, {}, {class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300 mr-4"}) %>

  </div>

  <div class="form-group">
    <%= form.label :delivery_method %>
    <%= form.select(:delivery_method, Order::STATUS, {}, {class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300 mr-4"}) %>

  </div>

  <div class="form-group">
    <%= form.label :fulfillment_status %>
    <%= form.select(:fulfillment_status, Order::STATUS, {}, {class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300 mr-4"}) %>
  </div>

    <div class="mt-6 bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Line Items</h3>
        <p class="mt-1 text-sm text-gray-500">
          Add 'em up
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="my-8 divide-y divide-gray-200" data-controller="order-items"> 

          <%= form.fields_for :line_items do |item| %>
            <div class="py-6 grid grid-cols-6 gap-6">


              <div class="sm:col-span-3">
                <%= item.label "Product Variant", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                <div class="mt-1">
                  <%= item.select(:variant_id, Variant.all.collect {|v| [ "#{v.product.name} - #{v.name}", v.id ] }, {}, { include_blank: true, class: "input"}) %>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <%= item.label :quantity %>
                <%= item.number_field :quantity, value: 1, disabled: true, class: "input", placeholder: "Quantity" %>
              </div>
            </div>
          <% end %>

          <template data-order-items-target="template">
            <%= form.fields_for :line_items, LineItem.new, child_index: 'NEW_RECORD' do |item| %>
              <%= render "line_item_fields", form: item %>
            <% end %>
          </template>
          <div class="py-4 flex justify-end" data-order-items-target="links">
            <%= link_to "Add Line Item", "#", class: "ml-3 inline-flex justify-center text-sm font-medium rounded-md text-white text-indigo-600 hover:text-indigo-700 focus:outline-none", data: { action: "click->order-items#add_association" } %>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>

    <% if form.object.new_record? %>
      <%= link_to t("cancel"), orders_path, class: "btn btn-white" %>
    <% else %>
      <%= link_to t("cancel"), order_path(@order), class: "btn btn-white" %>
    <% end %>
  </div>
<% end %>
