<tr id="<%= dom_id order %>">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">#<%= order.uuid %></td>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= order.customer.present? ? order.customer.name : "Abandoned Cart" %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= order.created_at %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= order.price.present? ? number_to_currency(order.price.total) : "" %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= order.fulfillment_status %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= order.line_items.count %></td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
     <%= link_to "view", order_path(order.id), class: "text-indigo-600 hover:text-indigo-900" %>
  </td>
</tr>
