<div id="<%= dom_id variant %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= variant.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Product</p>
    <%= variant.product_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= variant.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= variant.description %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Price</p>
    <%= variant.total_price %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Weight</p>
    <%= variant.weight %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Inventory</p>
    <%= variant.inventory %>
  </div>
</div>
