<div id="<%= dom_id address %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Customer</p>
    <%= address.customer_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Street</p>
    <%= address.street %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Number</p>
    <%= address.number %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">City</p>
    <%= address.city %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">State</p>
    <%= address.state %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Zipcode</p>
    <%= address.zipcode %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Country</p>
    <%= address.country %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Primary</p>
    <%= address.primary %>
  </div>
</div>
