<%= content_tag :div, class: "nested-fields col-span-1", data: { new_record: form.object.new_record? } do %>
  <div class="grid grid-cols-3">
    <div class="col-span-2 flex items-center">
      <%= form.label :price, class: "px-2 text-sm font-medium text-gray-700 align-right" %>
      <%= form.number_field :price, value: number_to_currency(form.object.price.to_f, delimiter: '', unit: ''), step: :any, class: "form-control" %>
    </div>
    <div class="flex items-center px-2 col-span-1">
      <small><%= link_to "Remove", "#", class: "text-red-500 md:col-span-1", data: { action: "click->standard-pricing#remove_association" } %></small>
    </div>
    <%= form.hidden_field :_destroy %>
  </div>
<% end %>