<%= content_tag :div, class: "nested-fields my-8 md:grid md:grid-cols-7 md:gap-6", data: { new_record: form.object.new_record? } do %>
  <div class="md:col-span-1 flex items-center">
    <label class="align-left">Every</label>
  </div>
  <%= form.number_field :interval_count, value: form.object.interval_count || 1, class: "md:col-span-1 form-control" %>
  <%= form.select(:interval, SubscriptionPricing::INTERVAL, {}, class: "md:col-span-2 form-control") %>
  <%= form.number_field :price, value: form.object.price || 0.0, step: :any, class: "md:col-span-2 form-control" %>
  <div class="flex items-center px-2">
    <small><%= link_to "Remove", "#", class: "text-red-500", data: { action: "click->subscription-pricing#remove_association" } %></small>
  </div>
  <%= form.hidden_field :_destroy %>
<% end %>